@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ScaleChange {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
}
body {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}
header {
  background-color: skyblue;
  padding: 0px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: rotation 2s ease-in-out infinite;
}
footer {
  background-color: skyblue;
  padding: 0px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
footer > div {
  width: 20px;
  height: 80px;
  background-color: white;
  animation: ScaleChange 1s ease-in-out infinite;
}
#first {
  animation-delay: 0s;
}
#second {
  animation-delay: 0.1s;
}
#third {
  animation-delay: 0.2s;
}
#fourth {
  animation-delay: 0.3s;
}
#fifth {
  animation-delay: 0.4s;
}
