.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
  opacity: 90%;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__lil-badge-find {
  border-radius: 50%;
  background-color: tomato;
  width: 5px;
  height: 5px;
  position: relative;
  left: 100px;
  bottom: 23px;
}

.screen-header__lil-badge-more {
  border-radius: 50%;
  background-color: tomato;
  width: 5px;
  height: 5px;
  position: relative;
  left: 145px;
  bottom: 23px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
}
